.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  font-style: oblique;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100%;
  width: 100%;
  background-color: lightgreen;
}

header {
  padding: 55px;
  color: whitesmoke;
  width: 100%;
}

/* header css */
.stretch {
  background-color: rgb(0, 32, 67);
  padding: 20px;
  margin: 0;
  display: flex;
}

.logo {
  margin: 0;
  padding: 0;
  width: 90px;
}

h1 {
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 50px;
}

.whitesmoke {
  color: whitesmoke;
}

nav {
  width: 100%;
}

nav ul {
  float: right;
  line-height: 50px;
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  padding: 30px;
  color: whitesmoke;
  text-decoration: none;
  font-size: x-large;
}

section {
  margin: 50px;
  padding: 0;
  text-align: center;
}

/* home.html css */
#hero {
  padding: 300px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

/* Product.html css */
.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: .5em;
  grid-gap: 1em;
  margin: 20px;
}

.product {
  margin: 0;
  padding: 1em;
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
}

.product>img {
  height: 300px;
  width: 200px;
  border-radius: 25px;
}

button {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: yellow;
}

/* contact.html css */
form {
  text-align: center;
  width: 100%;
}

label {
  font-size: 30px;
  align-items: center;
}

textarea {
  width: 500px;
  height: 120px;
  font-size: 20px;
}

input {
  width: 300px;
  height: 40px;
  font-size: 30px;
}

.red {
  color: red;
  font: bold;
}

/* footer css */
footer {
  margin-bottom: 0;
  padding: 90px;
  background-color: rgb(0, 32, 67);
  display: flex;
  flex-direction: row;
}

#footer {
  font-size: 15px;
  height: 3em;
  margin-top: 1em;
  color: whitesmoke;
  font-family: 'Caveat';
  text-align: center;
  letter-spacing: .5em;
  text-transform: uppercase;
  background-color: rgb(0, 32, 67);
  display: flex;
  justify-content: space-evenly;
}

#footer .footer-text .footer-links a {
  text-decoration: none;
  color: whitesmoke;
}

/* Hover Effect for footer links */
#footer .footer-text .footer-links a:hover {
  color: red;
}

/* Media Query for Tablet 800px or less */
@media only screen and (max-width: 800px) {
  header {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  nav {
      display: flex;
      justify-content: center;
  }

  nav ul {
      display: flex;
      justify-content: space-around;
  }

  section h2 {
      display: flex;
      flex-direction: column;
      font-size: xx-large;
  }

  .productContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: .5em;
      grid-gap: 1em;
      margin: 20px;
  }

  footer {
      display: flex;
      flex-direction: column;
  }

  .footer-text>div {
      font-size: 12px;
  }

  footer img {
      width: 25px;
  }
}